<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hussle</title>
  </head>

  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

  <body>

    <div id="root" class="container">
       <!-- Page Content goes here -->
       <h3> What is your name? </h3>
       <input type="text" v-model="username">
       <a class="waves-effect waves-light btn-large" @click="add(1)" :title="test_title">Create</a>

       <task v-if="isVisible" title="This is the title" @close="isVisible = false"></task>

       <br/>
       <br/>
       <a @click="add(1)" >Close</a>

     </div>

    <script src="/dist/build.js"></script>
  </body>
</html>
