/* -- CUSTOM CSS -- */

// GLOBAL -----------------------------

html, body{
	height: 100%;
}

body {
	position: relative;
	background: url('images/grey_wash_wall.png') repeat;
}

[v-cloak] {
  display: none;
}

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
	border: 1px solid #ccc !important;
	box-shadow: none !important;
	border-radius: 2px !important;
	font-weight: bold;

	&:focus {
		border: 1px solid #64b5f6 !important;
		box-shadow: none !important;
		color: #64b5f6;
	}
}

// BODY -------------------------------

.nav-component {
	nav.navigation {background-color: #0d47a1;}
}

.tooltip {
	display: none;
	opacity: 0;
	transition: opacity .15s;
	pointer-events: none;
	padding: 4px;
	z-index: 10000;

	.tooltip-content {
		background: black;
		color: white;
		border-radius: 16px;
		padding: 5px 10px 4px;
	}

	&.tooltip-open-transitionend {
		display: block;
	}

	&.tooltip-after-open {
		opacity: 1;
		color: red !important;
	}
}

label.warning-msg { 
	font-size:14px;

	&.success {color: green;}
	&.error { color: red !important; }
}

.btn-loading { display: inline-block; padding-left:5px;}

.loading-block {
	> .loader { display:inline-block; }
	> span.text { display:inline-block; padding-left:5px; vertical-align:text-bottom; font-size:12px; vertical-align: top; color:#fff; }
}


.home-component {
	.huzz-title {line-height:10px; padding-top:20px;}
	.huzz-pronounce {font-size:13px; font-style: italic;}

	.reg-form {
	  position: absolute !important;
	  top: 50%;
	  transform: translateY(-50%);
		left: 0 !important;
		right: 0 !important;

		.btn {
			width: 100%;
		}
		.card-title + .row {
			margin-bottom: 0;
		}
	}

	.card-content.form {
		input[type="text"], .row { 
			margin-bottom: 0px;
		}
		
		div.create-account {
			margin-top:5px;
		}
	}

	.field-error {
		border: 1px solid red !important;
	}
}


.task-component {

	.task-list .card-content {min-height:350px;}

	.deadline-title {font-size:40px; font-weight: bold; color: #fff;}

  .drag-start {cursor:move;}
  .drag-stop {cursor:default;}

	.strike {color: #801515; text-decoration: line-through;}

	.collection {
		border: none;

		.collection-item {padding:10px ; border-bottom: none; background: #1e88e5; border-radius: 2px; margin: 0 0 3px; cursor: move;}

		.details { background: #fff; padding: 10px; border-radius: 2px; margin-top: 10px; color: #424242; }
	}
	.item-block {cursor:move;}
	.item-block >.title-area, .item-block >.action-area {float:left;}
	.item-block >.title-area { width: 85%; cursor:pointer; }
	.item-block >.action-area { width: 15%; text-align: right; }
	.clear {clear:both;}
}
